.authentication__header {
  color: black;
  text-align: center;
}

.authentication {
  width: 90%;
  max-width: 25rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 4%;
}

.authentication form {
  margin-bottom: 1rem;
}

@media (max-width: 900px) {
  .authentication {
    margin-bottom: 11%;
  }
}
