.king-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.king-links li {
  margin: 1rem;
}

.king-links a {
  border: 1px solid transparent;
  color: white;
  text-decoration: none;
  padding: 0.7rem;
}

.king-links a:hover,
.king-links a:active,
.king-links a.active {
  background: black;
  border-color: #292929;
  /* border-radius: 40px; */
  color: #ffcc00;
}
.profile-avatar {
  background: none;
}

.king-links button {
  cursor: pointer;
  border: 1px solid black;
  /* color: black; */
  background: transparent;
  padding: 0.7rem;
  font: inherit;
}

.king-links button:focus {
  outline: none;
}

.king-links button:hover,
.king-links button:active {
  background: #fecb00;
  color: black;
  border-color: black;
}

@media (min-width: 900px) {
  .king-links {
    flex-direction: row;
  }

  .king-links li {
    margin: 0 0.5rem;
  }

  .king-links a {
    color: white;
    text-decoration: none;
  }

  /* .king-links button {
    border: 1px solid white;
    color: white;
    background: #fecb00;
  } */

  /* .king-links button:hover {
    background: #191938;
    color: #ffcc00;
  } */
}
.profile-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  vertical-align: middle;
}

.king-links li:last-of-type a:hover {
  background: none !important;
  border: none;
}

.linkaag {
  background-color: #fecb00 !important;
  border: 1px solid black;
}
.linkaag:hover {
  background-color: transparent !important;
}

.addgt:hover {
  background-color: transparent !important;
  border: none;
}
