.main-navigation__menu-btn {
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  margin-top: -5px;
}

.main-navigation__menu-btn span {
  display: block;
  width: 1.7rem;
  height: 1.5px;
  background: white;
}

.underline {
  text-decoration: none;
}

.main-navigation__header-nav {
  display: none;
}

.main-navigation__drawer-nav {
  height: 100%;
}

@media (min-width: 900px) {
  .main-navigation__menu-btn {
    display: none;
  }

  .upMobileMenu {
    display: none;
  }

  .main-navigation__header-nav {
    display: block;
  }
}

.headerImage {
  height: 100%;
  width: 100%;
}

@media (max-width: 900px) {
  .headerImage {
    height: 70%;
    width: 70%;
    margin-top: 5%;
    margin-left: -2%;
  }
}
